body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/*                           header                    */

#vishnu {
  height: 100vh;
  background-image: url(images/usvishnuprakash.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.skills-bar {
  width: 80%;
}

#about {
  height: 1000px;
}

/*                     education                       */

.education {
  background: lightskyblue;
  height: 450px;
  padding: 5px;
  text-align: center;
  font-size: large;
  color: rgb(14, 13, 12);
}
/*                      project                      */

.project {
  background: lightskyblue;
  height: 1010px;
  margin-top: 10px;
  padding: 5px;
  text-align: center;
  font-size: large;
}
/*                 contact             */

#contact {
  background-color: blue;
  background-attachment: fixed;
  background-size: cover;
  height: 400px;
  color: rgb(255, 255, 255);
}

.contact {
  height: 306px;
}

.address {
  position: relative;
  top: 30px;
  left: -62px;
}

.email {
  position: relative;
  top: -44px;
  left: -88px;
}

.phone {
  position: relative;
  left: 99px;
  top: 51px;
}

@media (max-width: 876px) {
  .address {
    top: 40px;
    left: -54px;
  }
  .email {
    top: 40px;
    left: -49px;
  }
  .phone {
    top: -18px;
    left: 115px;
  }
}
